%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
{erl_opts,
 [{platform_define, "18", 'post_otp_18'},
  {platform_define, "16|17", 'pre_otp_18'},
  {parse_transform, lager_transform},
  debug_info,
  %% warnings_as_errors, % disabled due to disabled function
  strict_validation,
  warn_bif_clash,
  warn_deprecated_function,
  warn_export_all,
  warn_export_vars,
  warn_exported_vars,
  warn_obsolete_guard,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_unused_record,
  warn_unused_vars]}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git",
            {tag, "2.1.1"}}},
    {poolgirl, ".*", {git, "git://github.com/MiniclipPortugal/poolgirl",
            {tag, "1.2.0"}}}
]}.

{cover_enabled, true}.
{ct_dir, "test"}.
{ct_use_short_names, true}.
{ct_search_specs_from_test_dir, true}.
{ct_extra_params, "-verbosity 100"}.
